* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.header {
    width: 100%;
}
.header .top-header {
    display: flex;
    padding: 20px 40px;
    max-width: 100%;
    justify-content: space-between;
}
.header .top-header .logo img {
    cursor: pointer;
    object-fit: cover;
}
.header .top-header .search-box input {
    width: 250px;
    padding: 10px 10px;
    background: #f6f7f8;
    outline: none;
    border: none;
    /* border: 1px solid #8a8a8a; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.header .top-header .search-box button {
    padding: 10px 10px;
    outline: none;
    border: none;
    /* border: 1px solid #cd1e76; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 50px;
    background: #cd1e76;
    color: #fff;
    cursor: pointer;
    margin-right: 30px;
    transition: 0.5s;
    font-weight: 600;
}
.header .top-header .search-box button:hover {
    background: #fed700;
    color: #cd1e76;
}
.header .top-header .user {
    display: flex;
    margin-right: 30px;
}
.header .top-header .user .icon {
    margin-right: 10px;
}
.header .top-header .user .btn button {
    outline: none;
    border: none;
    font-size: 16px;
    background: none;
    cursor: pointer;
}
.header .last-header {
    width: 100%;
    padding: 10px 10px;
    background: #232323;
    display: flex;
    justify-content: space-between;
}
.header .last-header .user-profile {
    display: flex;
    margin-top: 10px;
}
.header .last-header .user-profile .icon {
    padding: 10px 10px;
    background: #fff;
    border-radius: 10px;
}
.header .last-header .user-profile .info {
    margin-left: 10px;
}
.header .last-header .user-profile .info h2 {
    color: #fff;
    font-size: 18px;
}
.header .last-header .user-profile .info p {
    color: #ababab;
    font-size: 14px;
    margin-top: 5px;
}
.header .last-header .nav {
    margin-top: 15px;
}
.header .last-header .nav ul {
    display: flex;
}
.header .last-header .nav ul li {
    list-style: none;
}
.header .last-header .nav ul li .link {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.header .last-header .nav ul li .link:hover {
    color: #fed700;
}
.header .last-header .offer {
    margin-right: 10px;
    padding: 20px 20px;
    background: #fed700;
    border-radius: 10px;
}
.header .last-header .offer p {
    margin-top: 5px;
    text-transform: uppercase;
    color: #232323;
    font-weight: 600;
    font-size: 14px;
}